name: Frontend CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build-and-test-frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: npm
          cache-dependency-path: frontend/package-lock.json
        
      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint-gh
      
      - name: Build
        run: npm run build

      - name: Test
        run: npm test
